.index {
    background-color: blueviolet;
    margin: 0;
    padding: 0;
    border-radius: 0;
    background-image: url(assets/cyberpunk-2077.webp);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}

img {
    width: 300px;
    border-radius: 10px;
}

.page2 {
    background-color: blueviolet;
    margin: 0;
    padding: 0;
    box-sizing: 0;
    background-image: url(assets/thelast.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}

.page3 {
    background-color: blueviolet;
    margin: 0;
    padding: 0;
    box-sizing: 0;
    background-image: url(assets/unity.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}

h1.index {
    text-align: center;
    color: yellow;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
}

h1.page2 {
    text-align: center;
    color: brown;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
}

h1.page3 {
    text-align: center;
    color: blue;
    font-family: 'Times New Roman', Times, serif;
}

h2.index {
    text-align: center;
    color: purple;
    font-family: Arial, Helvetica, sans-serif;
}

h2.page2 {
    text-align: center;
    color: green;
    font-family: Arial, Helvetica, sans-serif;
}

h2.page3 {
    text-align: center;
    color: red;
    font-family: Arial, Helvetica, sans-serif;
}

button.index {
    text-align: center;
    color: rgb(231, 30, 215);
    display: block;
    padding: 10px 15px;
    border-radius: 10px;
    cursor: pointer;
    margin: 10px auto;
    background-color: blueviolet;
}

button.page2 {
    text-align: center;
    color: gray;
    display: block;
    padding: 10px 15px;
    border-radius: 10px;
    cursor: pointer;
    margin: 10px auto;
    background-color: purple;
}

button.page2 {
    text-align: center;
    color: grey;
    display: block;
    padding: 10px 15px;
    border-radius: 10px;
    cursor: pointer;
    margin: 10px auto;
    background-color: greenyellow;
}

button.page3 {
    text-align: center;
    color: white;
    display: block;
    padding: 10px 15px;
    border-radius: 10px;
    cursor: pointer;
    margin: 10px auto;
    background-color: red;
}

h3 {
    text-align: center;
    color: red;
    font-size: 30px;
}